@model JongBrabant.Kantinescherm.Models.PriceList

@{
	ViewData["Title"] = "Prijslijst Jong Brabant";
}<div class="row">

	<div class="col">
		<table class="table-borderless price-column">
			<tbody>
				@foreach (var item in Model.Columns1.Groups)
				{
					<tr>
						<td colspan="2" class="group-header">
							@Html.DisplayFor(modelItem => item.Key.GroupName)
						</td>
					</tr>
					@foreach (var price in item)
					{
						<tr>
							<td class="product-name">
								@Html.DisplayFor(modelItem => price.Name)
							</td>
							<td class="product-price">
								@Html.DisplayFor(modelItem => price.Price)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>

	<div class="col">
		<table class="table-borderless price-column">
			<tbody>
				@foreach (var item in Model.Columns2.Groups)
				{
					<tr>
						<td colspan="2" class="group-header">
							@Html.DisplayFor(modelItem => item.Key.GroupName)
						</td>
					</tr>
					@foreach (var price in item)
					{
						<tr>
							<td class="product-name">
								@Html.DisplayFor(modelItem => price.Name)
							</td>
							<td class="product-price">
								@Html.DisplayFor(modelItem => price.Price)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>

	<div class="col">
		<table class="table-borderless price-column">
			<tbody>
				@foreach (var item in Model.Columns3.Groups)
				{
					<tr>
						<td colspan="2" class="group-header">
							@Html.DisplayFor(modelItem => item.Key.GroupName)
						</td>
					</tr>
					@foreach (var price in item)
					{
						<tr>
							<td class="product-name">
								@Html.DisplayFor(modelItem => price.Name)
							</td>
							<td class="product-price">
								@Html.DisplayFor(modelItem => price.Price)
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

	</div>

</div>